.landing-page-container {
    width: 100%;
    max-width: 1480px;
    padding: 0 30px;
    margin: 32px auto;
}

.landing-page-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-page-container header .header-links a {
    width: 240px;
    border: 1px solid;
    border-color: #44afe5;
    color: #44afe5;
    transition: 0.3s;
}

.landing-page-container header .header-links a:hover {
    filter: brightness(90%);
    background-color: #44afe5;
    color: #FFF; 
}


.landing-page-container header .header-buttons a {
    width: 240px;
    background-color: #e02041;

}

.landing-page-container header .header-buttons a + a {
    margin-left: 25px;
}

.landing-page-container .sections-container {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-page-container .sections-container section.info-elements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    color: #000;
}

.landing-page-container .sections-container section.info-elements div.logo-style {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.landing-page-container .sections-container section.info-elements div.logo-style strong {
    font-weight: 700;
    font-style: italic;
    font-size: 80px;
    color: #e02041;
    letter-spacing: 10px;
    margin-right: 10px;
}

.landing-page-container .sections-container section.info-elements strong {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
}

.landing-page-container .sections-container section.info-elements p {
    margin-top: 70px;
    max-width: 600px;
    font-weight: 400;
    margin-right: auto;
    font-size: 20px;
    color: #737380;
    line-height: 32px;
}

.landing-page-container .sections-container section.info-elements text {
    width: 100%;
}

.landing-page-container .sections-container section.info-elements text.company-email {
    margin-top: 100px;
    font-size: 22px;
}

.landing-page-container .sections-container section.info-elements text.company-phone {
    margin-top: 5px;
    font-size: 22px;
}

.landing-page-container .sections-container section.info-elements .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-top: 30px;
}

.landing-page-container .sections-container section.info-elements .social-media a + a {
    margin-left: 20px;
}

.landing-page-container .sections-container img {
    width: 60%;
    height: 60%;
}
