.client-register-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.client-register-container section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-register-container section.info {
    display: inline-block;
    width: 100%;
    margin: 32px auto;
}

.client-register-container section.info header {
    width: 100%;
    padding: 30px;
}

.client-register-container section.info header a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    transition: opacity 0.2s;
    font-size: 30px;
    width: fit-content;

    display: flex;
    align-items: center;
}

.client-register-container section.info header a text {
    margin-left: 10px;
}

.client-register-container section.info header a:hover {
    opacity: 0.4;
}

.client-register-container section.info section.info-elements .content {
    width: 100%;
    max-width: 600px;
    padding: 20px 45px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    margin-bottom: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.client-register-container section.info section.info-elements .content h1 {
    margin-bottom: 30px;
    color: #e02041;
    font-size: 35px;
}

.client-register-container section.info section.info-elements .content form {
    width: 100%;
}

.client-register-container section.info section.info-elements .content form input {
    margin-bottom: 16px;
    padding: 0 24;
}

.client-register-container section.info section.info-elements .content form .input-group {
    display: flex;
}

.client-register-container section.info section.info-elements .content form .input-group input + input {
    margin-left: 8px;
}

.client-register-container section.info section.info-elements .content form .button {
    margin-top: 25px;
    background-color: #e02041;
}

